@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

$Blue-accents: #367488;
$Button-disabled: rgb(103, 153, 170);
$Button-active: #27596a;
$animationDuration: 0.3s;

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $animationDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 1;
  display: grid;
  row-gap: 16px;
  column-gap: 100px;
  max-width: 986px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onDesktop {
    --columns: 2;
    row-gap: 89px;
  }
}

.featured {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin: 0;
  padding: 40px 0 69px;

  @include onDesktop() {
    row-gap: 80px;
    padding: 139px 0 139px;
  }

  &__header {
    margin: 0;
    padding: 0;
    color: $Blue-accents;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;

    @include onDesktop() {
      font-size: 48px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;

    @include pageGrid();
  }

  &__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image-container {
      width: 375px;
      height: 295px;
      overflow: hidden;

      @include onDesktop() {
        width: 443px;
        height: 357px;
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left bottom;

      @include hover(scale, 1.1);
    }

    &__link {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__title {
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;

      @include onDesktop() {
        font-size: 24px;
      }
    }

    &__form.product-form {
      margin: 0;
      align-self: stretch;
    }

    &__button {
      width: 100%;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    
      display: flex;
      padding: 20px 35px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
    
      border-radius: 40px;
      background-color: $Blue-accents;
    
      color: #fff;
    
      &[aria-disabled="true"] {
        background-color: $Button-disabled;
        cursor: not-allowed;
      }
    
      &:active {
        background-color: $Button-active;
      }

      & span {
        font-size: 14px;

        @include hover(scale, 1.1);

        @include onDesktop() {
          font-size: 16px;
        }
      }
    }
  }
}

.featured-buttons {
  width: 100%;
}
